.bg-2 {
  background: url(../../img/service/banner-bg.png);
  background-size: 200px;
  background-position: left top;
  background-repeat: repeat;
  z-index: -2;
}

.bg-linear-1 {
  background: linear-gradient(
    to bottom,
    #f0f3f5 0%,
    #f0f3f5 50%,
    #fcfcfd 50%,
    #fcfcfd 100%
  );
}

.bg-3 {
  background: url(../../img/service/subscribe.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.end-440 {
  right: 100px;
}

.start-24 {
  left: 24px;
}

.end-24 {
  right: 24px;
}

.z-n1 {
  z-index: -1;
}
