.bg-2 {
  background: url(../../img/service/banner-bg.png);
  background-size: 200px;
  background-position: left top;
  background-repeat: repeat;
  z-index: -2;
}

.end-440 {
  right: 100px;
}

.z-n1 {
  z-index: -1;
}
